body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #230026;
}

canvas {
    border: 1px solid #e98e05;
}
